@aleksandrkinash:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GPAT}

# опция указывает менеджеру пакетов использовать версию движков,
# которую мы указали в файле package.json.
engine-strict = true